{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}multimonitor{% endblock %}

{%block head %}
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='multimonitor.css') }}" />
{% endblock %}

{% block content %}
<div id="croppingWidget">
    <div id="cropControls">
        Resolution in pixels
        <input type="text" id="x-aspect" placeholder="Width" /> X
        <input type="text" id="y-aspect" placeholder="Height" />
        <input type="button" id="add-overlay" value="Add Monitor">
        <form id="submit-overlays" action="wallpapers" method="POST">
            <input type="hidden" id="overlays-json" name="overlays-json"/>
            <input type="button" id="show-wallpapers" value="Show Wallpapers" />
        </form>
    </div>
    <div id="multimonitor-config"></div>
</div>
{% endblock %}

{% block jscripts %}
<script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='multimonitor.js') }}"> </script>
{% endblock %}
