{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block head %}
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='multimonitor.css') }}" />
{% endblock %}

{% block content %}
<div id="croppingWidget">
    <div id="cropControls">
        Resolution
        <input type="text" id="xAspect" /> X
        <input type="text" id="yAspect" />
        <input type="button" id="addOverlay"
        value="Add Screen" />
        <input type="button" id="jsCrop" value="Crop & Download" />
    </div>
    <img id="cropImage" src="{{ url_for('base_picture',
                                        filename='%s/%s' % (
                                            election_folder,
                                            candidate_file
                                            )
                                        )
}}" alt="img {{ candidate_file }}" />
</div>
{% endblock %}

{% block jscripts %}
<script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"></script>
<script type="text/javascript"
src="{{ url_for('static', filename='multimonitor.js') }}"> </script>
{% endblock %}
