{% extends "master.html" %}

{% block title %} {{ super() }} {% endblock %}

{%block tag %}multimonitor{% endblock %}

{%block head %}
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='jquery-ui-1.9.2.custom.css') }}" />
<link rel="stylesheet" type="text/css"
href="{{ url_for('static', filename='multimonitor.css') }}" />
{% endblock %}

{% block content %}
{% if candidates %}
{% autoescape false %}
<form id="pass-overlays" method="POST">
    <input type="hidden" id="overlays-json" name="overlays-json" value='{{ overlays }}'/>
</form>
{% endautoescape %}
<table>
    <tr>
    {% for candidate in candidates %}
        <td>
            <a href="{{ url_for('base_picture',
                                 filename='%s/%s' % (
                                    elections[candidate.election_id - 1],
                                    candidate.candidate_file
                                    )
                                )
                      }}"
                title='{{ candidate.candidate_name }} - Author {{ candidate.candidate_author }}'>
                <img src="{{ url_for('base_cache',
                                 filename='%s/%s' % (
                                    elections[candidate.election_id - 1],
                                    candidate.candidate_file
                                    )
                                )
                      }}" alt="img {{ candidate.candidate_file }}"/>
            </a><br />
            Author: {{ candidate.candidate_author }} <br />
            License: {{ candidate.candidate_license }} <br />
            <button type="button" class="large_button"
            onclick="passOverlays('{{ elections[candidate.election_id - 1] }}/{{ candidate.candidate_file }}/')">
                Multi-monitor Download
            </button>
        </td>
        {% if loop.index % 3 == 0 %}
        </tr>
        <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% else %}
<p> No candidate is large enough to fit your multimonitor setup. </p>
{% endif %}
{% endblock %}

{% block jscripts %}
<script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery-ui-1.9.2.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='multimonitor.js') }}"> </script>
{% endblock %}
