#cropControls {
    padding: 0px 10px 10px 10px;
}

#downloadCrop {
    position: relative;
    float: right;
}

.overlays {
    position: absolute;
    outline: 2px dashed #0066CC;
    cursor: move;
    z-index: 100;
}

#cropImage {
    position: relative;
    float: left;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

#cropTip {
    position: relative;
    float: left;
    padding: 10px;
}

#cropTip span {
    border: 2px solid #0066CC;
    color: #193b6c;
    display: inline-block;
    padding: 0 5px;
}
