#cropControls {
    padding: 0px 10px 10px 10px;
}

#downloadCrop {
    position: relative;
    float: right;
}

.overlays {
    position: absolute;
    outline: 2px dashed #0066CC;
    cursor: move;
    z-index: 100;
}

.delete{
    position: absolute;
    top: -30px;
    right: -30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 25px;
    background: rgba(222,60,80,.9);
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 0px 4px 3px 4.5px;
}

.delete:before {
    content: "×";
}

#cropImage {
    position: relative;
    float: left;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
